<span class="battery-level" *ngIf="connected">
  <span [class]="batteryLevelClass"></span>
<span>{{batteryLevel}}</span>
</span>

<h1>
  Purple Eye
</h1>

<button md-raised-button (click)="connect()" *ngIf="!connected">Connect</button>

<div *ngIf="errorMessage">
  <h3>Connection failed!</h3>
  {{errorMessage}}
</div>

<div *ngIf="connected">
  <h3>Control</h3>
  <button md-raised-button (click)="spread()">Spread</button>
  <button md-raised-button (click)="stand()">Stand</button>
  <button md-raised-button (click)="rest()">Rest</button>

  <h3>Move!</h3>
  <button md-raised-button (click)="dance()">Dance</button>
  <button md-raised-button (click)="shimmy()">Shimmy</button>
  <button md-raised-button (click)="contort()">Contort</button>
  <button md-raised-button (click)="stopMoving()">Stop</button>

  <pe-imu-view [imu]="imu"></pe-imu-view>

  <div class="slider-container">
    <md-slider min="60" max="120" step="1" [(ngModel)]="servoPositions.rightFoot" (change)="updateServos()" [disabled]="resting"></md-slider>
    <md-slider min="60" max="120" step="1" [(ngModel)]="servoPositions.rightLeg" (change)="updateServos()" [disabled]="resting"></md-slider>
    <md-slider min="60" max="120" step="1" [(ngModel)]="servoPositions.leftLeg" (change)="updateServos()" [disabled]="resting"></md-slider>
    <md-slider min="60" max="120" step="1" [(ngModel)]="servoPositions.leftFoot" (change)="updateServos()" [disabled]="resting"></md-slider>
  </div>

  <h3>Amuse</h3>
  <button md-button (click)="playSound(1)"><md-icon>play_arrow</md-icon> 1</button>
  <button md-button (click)="playSound(2)"><md-icon>play_arrow</md-icon> 2</button>
  <button md-button (click)="playSound(3)"><md-icon>play_arrow</md-icon> 3</button>
</div>